// $domain-url:
$domain-hits: ".table-domain-hits";
$bar-colors: array(limegreen, cyan, salmon, red, yellow, pink, orange, purple, gray, black);
$repeat: 20;
$random-colors: array();

* {box-sizing:border-box}

#q-graph  {
    display: block; /* fixes layout wonkiness in FF1.5 */
    position: relative; 
    width: 600px; 
    height: 300px;
    margin: 1.1em 0 0; 
    padding: 0;
    background: transparent;
    font-size: 11px;
  }

// #domain-graph {
//     display: none;
// }

// #table-caption {
//     display: none;
// }

.table-domain {
    border: 1px solid;
}

.hits-bar {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.table-row-container {
    width: 100%;
    background-color: #ddd;
}

@for $i from 1 through length($bar-colors) {
    $random-colors: nth-child(#{$i}); //}  try add bar-colors
        // background-color: nth($random-colors, $i);
    
};

#hits-1 {border:1px solid;}
#hits-2 {border:1px solid;}
#hits-3 {border:1px solid;}
#hits-4 {border:1px solid;}
#hits-5 {border:1px solid;}
#hits-6 {border:1px solid;}
#hits-7 {border:1px solid;}
#hits-8 {border:1px solid;}
#hits-9 {border:1px solid;}
#hits-10 {border:1px solid;}

.container-ips {
    font-family: Verdana;
}

// #ip-graph {

// }

// #ip-key {

// }

// .page-graph {

// }

// #lastN-key {

// }